@font-face {
font-family: 'Helvetica Now';
src: url('../fonts/HelveticaNowDisplayRegular.woff') format('woff');
font-weight: 400;
font-style: normal;
}

html {
  font-family: 'Helvetica Now', 'helvetica neue', 'helvetica', 'arial', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #FFF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}
